/* Checkbox, Radio */
input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  display: block;
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 3px;
}

input[type="checkbox"]:checked, 
input[type="radio"]:checked {
  background-color: #1E0B91;
  border-color: #1E0B91;
}

input[type="checkbox"]:checked::before, 
input[type="radio"]:checked::before {
  content: "";
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  background-color: #ffffff;
  width: 10px;
  height: 10px;
}

input[type="radio"] {
  border-radius: 50%;
}
